<p><%= @message_array[0] %></p>
<p><%= @message_array[1] %></p>
<p><%= @message_array[2] %></p>
<p><%= @message_array[3] %></p>
<p><%= @message_array[4] %></p>
<p><%= @message_array[5] %></p>
<p><%= @message_array[6] %></p>
<p><%= @message_array[7] %></p>
<p><%= @message_array[8] %></p>
<p><%= @message_array[9] %></p>