<form action="<%=people_form_action(@person) %>" method = "post" class="<%=people_form_class(@person) %>" id="<%=people_form_id(@person) %>">
	
	<input type="hidden" name="_method" value="<%=people_form_method(@person) %>" />
	
	<div class="form-area">
		<label class=text-field-header for="first_name"><em>First Name</em></label><br>
		<input class="textbox" type="text" name="first_name" value="<%="#{@person.first_name}"%>" />
	</div>
	
	<br>
	<div class="form-area">
		<label class=text-field-header for="last_name"><em>Last Name</em></label><br>  
		<input class="textbox" type="text" name="last_name" value="<%="#{@person.last_name}"%>"/>
	</div>
	
	<br>
	<div class="form-area">
		<label class=text-field-header for="birthdate"><em>Birthdate</em></label><br>
		<input class="textbox" name="birthdate" type="text" value="<%="#{@person.birthdate}"%>"/>
	</div>
	
	<br>
	<br>
	<div>
		<input class="form-area button" type="submit" />
	</div>

</form>